# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/

# Environment Variables
.env

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Specific (DVC)
data/raw/*
data/processed/*
!data/raw.dvc
!data/.gitkeep

reports/
!reports/.gitkeep

# Docker
docker-compose.override.yml

# Prefect
.prefect/
TROUBLESHOOTING.md

# MLflow
mlruns/

# Model artifacts
artifacts/
